---
layout: default
---
{% assign recent_posts = site.posts | reverse %}
<main aria-label="Content">	
	<nav aria-label="Secondary">
		<h2>The story so far</h2>
		<ol>{% for post in recent_posts %}
			<li>
				<a href="{{ post.url }}">
					<strong>{{ post.title }}</strong><br>
					{{ post.description }}<br>
					<time datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: '%Y' }} {{ post.date | date: '%b' }} {{ post.date | date: '%d' }}</time>
				</a>
			</li>{% endfor %}
		</ol>
	</nav>
</main>